extends layout

block content
  .container
    .col-sm-12
      .panel.panel-default.row
        .panel-heading
          h1.panel-title 경로 요청
        .panel-body
          .row
            label.col-sm-2 course_id
            label.col-sm-2 destination_id
            label.col-sm-2 user_id
          each item in courseRequests
            .row
              label.col-sm-2 #{item.course_id}
              label.col-sm-2 #{item.destination_id}
              label.col-sm-2 #{item.user_id}
        .panel-footer
          .row.well.well-sm
            form.form-horizontal(role='form', action="/api/tickets/ticketing", method='POST')
              .form-group
                label.col-sm-1.control-label(for='cid') 경로 ID
                .col-sm-2
                  input#cid.form-control(type='text', name='cid')
              button.btn.btn-default.pull-right(type='submit') 발권
